 <%= form_for  @service  do |f| %>
       
      <div class="row">
       
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :Company_Name%><font color="red">*</font>
         <%= f.text_field  :service_company_name,  class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Address%><font color="red">*</font>
         <%= f.text_field  :address, class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Year_formed%><font color="red">*</font>
         <%= f.text_field  :year_formed , class: 'form-control' %> 
         
       </div>
       
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Other_operational_countries%><font color="red">*</font>
         <%= f.text_field  :other_operational_countries , class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :About_company%><font color="red">*</font>
         <%= f.text_field  :about_company , class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Current_focus%><font color="red">*</font>
         <%= f.text_field  :current_focus , class: 'form-control' %> 
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Services%><font color="red">*</font>
         <%= f.text_field  :services , class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Estimated_booking%><font color="red">*</font>
         <%= f.text_field  :estimated_booking , class: 'form-control' %> 
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Financial_status%><font color="red">*</font>
         <%= f.text_field  :financial_status , class: 'form-control' %> 
         
       </div>
      
       </div>
       <br>
      <div class="col-md-5 col-md-offset-2">
      <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>