<h1>Data Tables</h1>
  <nav>
    <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "Asset",  items_path %></li><hr>
        <li><%= link_to "Contracts",  contracts_path %></li><hr>
        <li><%= link_to "Employees", employees_path %></li><hr>
        <li><%= link_to "Locations", locations_path %></li><hr>
        <li><%= link_to "Offshores Fields",  offshores_path %></li><hr>
        <li><%= link_to "Operating companies",  operatings_path %></li><hr>
        <li><%= link_to "Projects", projects_path %></li><hr>
        <li><%= link_to "News",  scraps_path %></li><hr>
        <li><%= link_to "Companies", companies_path %></li><hr>
        <li><%= link_to "Subsea Service Companies",  services_path %></li><hr>
        <li><%= link_to "Vessels Info",  vessels_path %></li><hr>
      <h3>Queries</h3>
        <li><%= link_to "1. Offshore Fields count by Current Operator", queries_query1_path %></li><hr>
        <li><%= link_to "2. How many fields an operating company have", queries_query2_path %></li><hr>
        <li><%= link_to "4. Contracts related to a certain project", queries_query4_path %></li><hr>
        <li><%= link_to "5. Fields where a certain stakeholder have interests in", queries_query5_path %></li><hr>
        <li><%= link_to "6. Operators connected to a stakeholder", queries_query6_path %></li><hr>
        <!-- <li><%= link_to "7. Which UKCS fields are less than 300m deep", queries_query7_path %></li> -->
        <li><%= link_to "10. Company News", queries_query10_path %></li><hr>
        <li><%= link_to "12. Latest Operating Company News", queries_query12_path %></li><hr>
        <!-- <li><%= link_to "What contracts have been awarded to Service company", queries_query8_path %></li>
        <li><%= link_to "Projects", queries_project_path %></li> -->
    </ul>
  </nav>
