<div class="container">
   <div class="col-md-4">
    <div class="row">
      <div class="page-header">
        <h1 style="font-family:Arial Black;">Data Tables</h1>
      </div>
<div>
<nav>
 
<ul class="nav nav-pills nav-stacked">
    
  <li><%= link_to "Assets",  items_path %></li>
  <li><%= link_to "Contracts",  contracts_path %></li>
  <li><%= link_to "Locations", locations_path %></li>
  <li><%= link_to "Offshore Fields",  offshores_path %></li>
  <li><%= link_to "Operating Companies",  operatings_path %></li>
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "News",  scraps_path %></li>
  <li><%= link_to "Subsea Service Companies",  services_path %></li>
 
  
</ul>
</nav>
</div>
</div>
</div>
    
</div>