<div class="container">
   <div class="col-md-4">
    <div class="row">
      <div class="page-header">
        <h1 style="font-family:Arial Black;">Data Tables</h1>
      </div>
<div>
<nav>
 
<ul class="nav nav-pills nav-stacked">
     
  <li><%= link_to "Assets",  items_path %></li>
  <li><%= link_to "Contracts",  contracts_path %></li>
  <li><%= link_to "Employees", employees_path %></li>
  <li><%= link_to "Locations", locations_path %></li>
  <li><%= link_to "Offshores Fields",  offshores_path %></li>
  <li><%= link_to "Operating companies",  operatings_path %></li>
  <li><%= link_to "Projects", projects_path %></li>
  <li><%= link_to "News",  scraps_path %></li>
 
  <li><%= link_to "Subsea Service Company",  services_path %></li>
  <li><%= link_to "Vessels Information",  vessels_path %></li>

  <li><%= link_to "Test 1", tests_test1_path %></li>
  <li><%= link_to "Test 8", tests_test8_path %></li>
  <li><%= link_to "Test 2", tests_test2_path %></li>
  <li><%= link_to "Temporary", tests_temporary1_path %></li>
  
    
</ul>
</nav>
</div>
</div>
</div>
    
</div>