<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home",  static_pages_data_tables_path %></li>
  <li><%= link_to "Add new person", new_employee_path  %></li>
</ul>
</nav>
              
                      
<div class="page-header"><h3>Company People</h3></div>
<div class="span3">
<table align="" border="1px" class="table table-striped">
   <th>Full Name</th>
    <th>Current company</th>
     <th>Country</th>
      <th>position</th>
        <th>Ak_Notes</th>
          <th>Classification</th>
          <th>Edit</th>
         <th>Delete</th>

 
   <tr><td><%= @workers.full_name%></td>
         <td><%= @workers.current_company %></td>
           <td><%= @workers.country %></td>
            <td><%= @workers.position %></td>
               <td><%= @workers.ak_notes%></td>
                 <td><%= @workers.classification%></td>
           
          
           
            
                
         <td><%= link_to "Edit", edit_employee_path(@workers),data: { confirm: " Are you Sure you want to edit?" }   %></td>
          <td><%= link_to "Delete", employee_path(@workers), method: :delete,
          data: { confirm: " Are You sure you want to Delete?" } %></td></tr>   

    </table>
</div>



