 <%= form_for @contract  do |f| %>
    
      <div class="row">
        <%= render 'shared/error_message', object: @contract%>
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :Contract_name%><font color="red">*</font>
         <%= f.text_field  :contract_name , class: 'form-control' %> 
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Contract_status%><font color="red">*</font>
         <%= f.text_field  :contract_status, class: 'form-control' %> 
        </div>
        

         <div class="col-md-6 col-md-offset-2">
         <%= f.label :Services_rendered%><font color="red">*</font>
         <%= f.text_field  :services_rendered, class: 'form-control' %> 
        </div>
         
         
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Contract_value%><font color="red">*</font>
         <%= f.text_field  :contract_value, class: 'form-control' %> 
        </div>
        
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Award_year%><font color="red">*</font>
         <%= f.text_field  :award_year, class: 'form-control' %> 
        </div>
       </div>
       <br>
      <div class="col-md-5 col-md-offset-2">
      <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>