<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home",  static_pages_data_tables_path %></li>
  <li><%= link_to "Add new operating company", new_operating_path  %></li>
</ul>
</nav>
              
                      
<div class="page-header"><h3>Operating Company</h3></div>
<div class="span3">
<table align="" border="1px" class="table table-striped">
    <th>Company Name</th>
    
      <th>Address</th>
       <th>Year formed</th>
        <th>Other operational countries</th>
         <th>About company</th>
          <th>Current focus</th>
          <th>Incumbent IRM contractor</th>
          <th>IRM frame Agreements</th>
           <th>Estimated IRM budgets</th>
           <th>Edit</th>
            <th>Delete</th>

 <% @operating.each do |operator| %>
  
    <tr><td><%= operator.operating_company_name%></td>
         <td><%= operator.address%></td>
           <td><%= operator.year_formed%></td>
            <td><%= operator.other_operational_countries%></td>
             <td><%= operator.about_company%></td>
              <td><%= operator.current_focus%></td>
               <td><%= operator.incumbent_irm_contractor%></td>
                <td><%= operator.irm_frame_agreements%></td>
                 <td><%= operator.estimated_irm_budget %></td>
 
            <td><%= link_to "Edit", edit_operating_path(operator),data: { confirm: " Are you Sure you want to edit?" }   %></td>
    <td><%= link_to "Delete", operating_path(operator), method: :delete,
          data: { confirm: " Are You sure you want Delete?" } %></td></tr> 
           
  <% end %>
</table>
</div>
</div>