<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home",  static_pages_data_tables_path %></li>
  <li><%= link_to "Add new offshore field", new_offshore_path  %></li>
</ul>
</nav>
              
                      
<div class="page-header"><h3>Offshore Fields</h3></div>
<div class="span3">

<table align="" border="1px"  cellspacing="5px" class="table table-striped">
 
 <center><%= will_paginate @offshore %></center>
   <th>Field name</th>
    <th>Field Status</th>
      <th>Original operator</th>
      <th>Current operator</th>
        <th>Discovery yr</th>
         <th>Resource</th>
         <th>Field Size BOE</th>
         <th> First production yr</th>
          <th>Estimated end production</th>
          <th>Field Life yrs</th>          
          <th>Water depth</th>
          <th>Capex USD</th>
          <th>Distance to Shore km</th>
          <th>no of Manifolds</th>
          <th>No of installed trees</th>
           <th>Edit</th>
          <th>Delete</th>
         
          

<% @offshore.each do |offshore| %>
 
   <tr><td><%= offshore.field_name%></td>
       <td><%= offshore.field_status%></td>
         <td><%= offshore.original_operator%></td>
         <td><%= offshore.current_operator%></td>
           <td><%= offshore.discovery_yr%></td>
            <td><%= offshore.resource%></td>
             <td><%= offshore.field_size_boe%></td>
              <td><%= offshore.first_production_yr%></td>
               <td><%= offshore.estimated_end_production%></td>
               <td><%= offshore.field_life_yrs%></td>
               <td><%= offshore.water_depth%></td>
               <td><%= offshore.capex_usd%></td>
               <td><%= offshore.distance_to_shore_km%></td>
                <td><%= offshore.no_manifolds %></td>
               <td><%= offshore.no_intalled_trees%></td> 
          <td><%= link_to "Edit", edit_offshore_path(offshore),
          data: { confirm: " Are you Sure you want to edit?" } %></td>
    <td><%= link_to "Delete", offshore_path(offshore), method: :delete,
          data: { confirm: " Are You Sure you want to Delete?" } %></td></tr>   
          
 
 <% end %>



  </table>
<center><%= will_paginate @offshore %></center>
</div>
</div>



