<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Delete Account", user, method: :delete,
                                  data: { confirm: "You sure?" } %> | 
      <%= link_to "Edit user details", user, method: :edit
         %> | 
      <%= link_to "Restrict User Access", "#" %>
  <% end %>
</li>