
<body class="background">
<!--Displays UKCS API  -->
  <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">UKCS</div>
      <div class="panel-body">
          <div class="container">
            <%= image_tag("ukcs.png",  alt: "oil", class:"img_responsive") %>
          </div>
      </div>
    </div>
  </div>

<!--Displays News Feed -->
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">News</div>
        <div class='row'>
        </div>
      <ul id="news">
        <li><%= link_to "Service Companies",  services_path %></li>
        <li><%= link_to "Operating Companies",  operatings_path %></li>
        <li><%= link_to "News", scraps_path %></li>
      </ul>
    </div>
  </div>

<!--Displays Search Function  -->
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">Search</div>
    <div class='row'>
    </div>
    <ul id="search">

    <li><%= link_to "Assets",  services_path %></li>
    <li><%= link_to "Contracts",  operatings_path %></li>
    <li><%= link_to "Operating Companies", scraps_path %></li>
    <li><%= link_to "People",  services_path %></li>
    <li><%= link_to "Projects",  operatings_path %></li>
    <li><%= link_to "Subsea Supply Chain", scraps_path %></li>
    <ul>
    </div>
  </div>
</body>
