
	<strong>Name: </strong><%= @user.name %><br>
  <strong>Surname: </strong><%= @user.surname %><br>
  <strong>Email: </strong><%= @user.email %><br></strong>
  <strong>Company: </strong><%= @user.company %><br>
  <strong>Account created: </strong><%= @user.created_at %>
	

  <div class="row">
  		<aside class="col-md-4">
    	<section class="user_info">
      	<h1>
        	<%= gravatar_for @user %>
        	<%= @user.name %>
      	</h1>
    	</section>
  		</aside>
	</div>
