<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "All data tables",  static_pages_data_tables_path %></li>
</ul>
</nav>

<center><div class="page-header"><h3>Vessel Information</h3></div></center>
<div class="span3"> 
<table align="" border="1px"  cellspacing="5px" class="table table-striped">
  
  <th>Vessel Name</th>
  <th>Latitude/Longitude </th>
   <th>Vessel Status</th>
     <th>Flag/Country</th>
      <th>Vessel Type</th>
      <th>IMO</th>
      
  <% @entriesArray.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @entries.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @topaz.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @contructor.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @antlantis.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @vinci.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @eagle.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @rock_water.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @seven_anlantic.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @seven_discovery.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @seven_falcon.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @seven_opsrey.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @seven_oplican.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @deep_artic.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @wellservice.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @scandi.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @enhancer.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @seawell.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @willchief.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


<% @endurer.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @pugasus.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @paladin.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @installer.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>



<% @kestrell.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>

<% @explorere.each do |row| %>
       <tr><td><%= row.polaris%></td>
  <td><%= row.lontitude%></td>
  <td><%= row.status%></td>
  <td><%= row.flag%></td>
  <td><%= row.ais_vessel%></td>
  <td><%= row.imo_number%></td></tr>
  
<% end %>


</table>
</div>
</div>