<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home",  static_pages_data_tables_path %></li>
  <% if current_user.admin? %>
  <li><%= link_to "Add new Project", new_project_path  %></li>
    <% end %>
  
</ul>
</nav>
              
                      
<div class="page-header"><h3>Add new Project</h3></div>
<div class="span3">
<table align="" border="1px"  cellspacing="5px" class="table table-striped">
   <th>Project title</th>
    <th>About project</th>
     <th>Resource</th>
      <th>Status</th>
       <th>Estimated first production</th>
         <th>Country</th>
         <th>Region</th>
          <th>Water Depth (m)</th>
          <th>Capex USD</th>
          <th>Distance to Shore km</th>
          <th>Development concept</th>
          <% if current_user.admin? %>
            <th>Edit</th>
            <th>Delete</th>
           <% end %>
          
          

<% @projects.each do |project| %>
 
   <tr><td><%= project.project_title%></td>
       <td><%= project.about_project%></td>
        <td><%= project.resource%></td>
          <td><%= project.status%></td>
           <td><%= project.estimated_first_production%></td>
            <td><%= project.country%></td>
             <td><%= project.region%></td>
              <td><%= project.water_depth_m%></td>
               <td><%= project.capex_usd%></td>
               <td><%= project.distance_to_shore%></td>
               <td><%= project.development_concept%></td>
             
            <% if current_user.admin? %>
         <td><%= link_to "Edit", edit_project_path(project),data: { confirm: " Are you Sure you want to edit?" }   %></td>
    <td><%= link_to "Delete", project_path(project), method: :delete,
          data: { confirm: " Are You sure you want to Delete?" } %></td></tr>   
            <% end %>
          
 <% end %>
    </table>
   
   
   
   <% @entriesArray.each do |row| %>
 
   <tr><td><%= row.title %></td>
      </tr>
  
<% end %> 
</div>
</div>