<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_data_tables_path %></li>
</ul>
</nav>
<center><h3>Project</h3></center>

<center><font color="red">All fields marked * are required fields</font></center>
<div class="row">
    
  <div class="col-md-8 col-md-offset-3">
     
    
    <br>
      <%= form_for  @projects  do |f| %>
        <%= render 'shared/error_message', object: @projects%>
      <div class="row">
       
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :Project_title%><font color="red">*</font>
         <%= f.text_field  :project_title,  class: 'form-control' %> 
         
       </div>
       
       
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :About_project%><font color="red">*</font>
         <%= f.text_field  :about_project , class: 'form-control' %> 
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Resource%><font color="red">*</font>
         <%= f.text_field  :resource, class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Status%><font color="red">*</font>
         <%= f.text_field  :status , class: 'form-control' %> 
         
       </div>
       
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Estimated_first_production%><font color="red">*</font>
         <%= f.text_field  :estimated_first_production , class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Country%><font color="red">*</font>
         <%= f.text_field  :country , class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Region%><font color="red">*</font>
         <%= f.text_field  :region , class: 'form-control' %> 
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Water_Depth_m=%><font color="red">*</font>
         <%= f.text_field  :water_depth_m , class: 'form-control' %> 
         
       </div>
       
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Capex_USD%><font color="red">*</font>
         <%= f.text_field  :capex_usd , class: 'form-control' %> 
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Distance_to_shore%><font color="red">*</font>
         <%= f.text_field  :distance_to_shore , class: 'form-control' %> 
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Development_concept%><font color="red">*</font>
         <%= f.text_field  :development_concept , class: 'form-control' %> 
         
       </div>
      
       </div>
       <br>
      <div class="col-md-5 col-md-offset-4">
      <%= f.submit "Add New Project", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  </div>