<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "All data tables",  static_pages_data_tables_path %></li>
</ul>
</nav>
              
<div class="row">
  
                 
                
                    <div class="col-md-8">
                    
                     <h3>All Registered Users</h3>
                         <%=  will_paginate @scraps %>
                               
                                    <% @entriesArray.each do |row| %>
                          
                                     <%= row.title %><br>
                                    <a href='<%= row.link %>'><%= row.link %></a>
                                     <%= row.days %>
                                    
                                    <% end %> 
                                    
                                     <% @entries.each do |row| %>
 
                                       <tr><td><%= row.title %></td>
                                        <td><a href='<%= row.link %>'><%= row.link %></a></td>
                                             <td><%= row.days %></td>
                                      </tr>
                                                              
                         
                              <% end %>
                      
                        <%= will_paginate @scraps %>
                    </div>
                    </div>

                 
</div>
</div>

