<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home",  static_pages_data_tables_path %></li>
</ul>
</nav>
              
                      
<div class="page-header"><h3>Offshore Energy Today News</h3></div>
<div class="span3">
<table align="" border="1px"  cellspacing="5px" class="table table-striped">
   <th>News Title</TH>
    <th>News Link</th>
     <th>Date</th>
          
<center><%= will_paginate  @scrap %></center>
 
<% @scraps.each do |row| %>
 
   <tr><td><%= row.title %></td>
       <td><a href='<%= row.link %>'><%= row.link %></a></td>
       <td><%= row.day %></td>
  </tr>
  
<% end %>

</table>
 <center><%= will_paginate  @scrap %></center>
</div>
</div>

