<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home",  static_pages_data_tables_path %></li>
</ul>
</nav>
              
<%= will_paginate  @scrap %>                  
<div class="page-header"><h3>Offshore Energy Today News</h3></div>
<div class="span3">
<table align="" border="1px"  cellspacing="5px" class="table table-striped">
   <th>News title</th>
    <th>News link</th>
     <th>Date</th>
          

 
<% @entriesArray.each do |row| %>
 
   <tr><td><%= row.title %></td>
       <td><a href='<%= row.link %>'><%= row.link %></a></td>
       <td><%= row.days %></td>
  </tr>
  
<% end %>

<% @entries.each do |row| %>
 
   <tr><td><%= row.title %></td>
       <td><a href='<%= row.link %>'><%= row.link %></a></td>
       <td><%= row.days %></td>
  </tr>
  
<% end %>
   
</table>
 <%= will_paginate @scrap %>
</div>
</div>

