<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home",   static_pages_data_tables_path %></li>
  <li><%= link_to "Add new asset", new_asset_path  %></li>
</ul>
</nav>
              
                      
<div class="page-header"><h3>Assets</h3></div>
<div class="span3"> 
<table align="" border="1px"  cellspacing="5px" class="table table-striped">
   <th>Asset Name</th>
    <th>Asset type</th>
     <th>Asset owner</th>
      <th>Country</th>
       <th>Current manager</th>
        <th>Previous manager</th>
         <th>Asset specification</th>
          

<% @asset.each do |asset| %>
 
   <tr><td><%= asset.name%></td>
       <td><%= asset.type%></td>
        <td><%= asset.owner%></td>
          <td><%= asset.country%></td>
           <td><%= asset.current_mangaer%></td>
            <td><%= asset.previous_manager%></td>
             <td><%= asset.specification%></td>
              <td><%= offshore.first_production_yr%></td></tr>
              

    
          <%= link_to ".", ".", method: :delete,
          data: { confirm: " Are You sure?" } %>
          
 <% end %>
    </table>
    
</div>
</div>