<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "Home", static_pages_data_tables_path %></li>
</ul>
</nav>
<center><h3>Add new person</h3></center>

<center><font color="red">All fields marked * are required fields</font></center>
<div class="row">
    
  <div class="col-md-8 col-md-offset-3">
     
    
    <br>
      <%= form_for  @workers  do |f| %>
        <%= render 'shared/error_message', object: @workers%>
      <div class="row">
       
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :Full_name%><font color="red">*</font>
         <%= f.text_field  :full_name,  class: 'form-control' %> 
         
       </div>
       
       
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :Classification%><font color="red">*</font>
         <%= f.text_field  :classification , class: 'form-control' %><br>
         
       </div>
       
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Company_type%><font color="red">*</font>
         <%= f.select :company_type,[ "select", "Operating company","Subsea service companies "],  class: 'form-control' %>
         
       </div>
       
       
       
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :AK_notes%><font color="red">*</font>
         <%= f.text_field  :ak_notes, class: 'form-control' %> 
         
       </div>
   
   
        <div class="col-md-6 col-md-offset-2">
         <%= f.label :Current_company%><font color="red">*</font>
         <%= f.text_field  :current_company, class: 'form-control' %> 
         
       </div>
       
       <div class="col-md-6 col-md-offset-2">
         <%= f.label :Current_country%><font color="red">*</font>
         <%= f.text_field  :current_country, class: 'form-control' %> 
         
       </div>
    
       </div>
       <br>
      <div class="col-md-5 col-md-offset-4">
      <%= f.submit "Add New person", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  </div>