<!-- View of the QUERY number 6 -->

<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
<%= form_tag tests_test6_path do %>
  <% if current_user %>
    <h3>Hello <%= current_user.name %>, check which operators are connected to a stakeholder</h3>
    <br>
    <h4>Select your stakeholder from the list below</h4>
    <%= collection_select(:stakeholder, :offshore_id, @stakeholders, :id, :stakeholder_name, {:prompt => true}) %>
    <br><br>
    <h4>Type in the name of your stakeholder</h4>
    <%= text_field_tag :stakeholder_name, nil, placeholder: "Insert Stakeholder Name" %>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>
<br>
<h3>Operators connected to <%= params[:stakeholder_name] %></h3>
<br>
<div class="span3">
  <table align="" border="1px" class="table table-striped">
   <th>Stakeholder name</th>
   <th>Operating company name</th>
   <% @operators.each_row() do |item| %>
   <tr><td><%= item[0]  %></td>
   <td><%= item[1]  %></td>
   <% end %>
  </table>
</div>
