<!-- View of the QUERY number 2 -->

<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
<%= form_tag tests_test2_path do %>
  <% if current_user %>
    <h3>Hello <%= current_user.name %>, check how many fields an operating company have</h3>
    <br>
    <h4>Select the operating company from the list below</h4>
    <%= collection_select(:company_name, :id, @operating_companies, :id, :company_name, {:prompt => true}) %>
    <br><br>
    <h4>Type in the operating company</h4>
    <%= text_field_tag :operating, nil, placeholder: "Insert Operating Company" %>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>
<br>
<h3>Contracts related to <%= params[:operating] %>:</h3>
<br>
<div class="span3">
  <table align="" border="1px" class="table table-striped">
   <th>Field name</th>
   <th>Field status</th>
   <th>Original operator</th>
   <th>Service rendered</th>
   <% @assets.each_row() do |item| %>
   <tr><td><%= item[0]  %></td>
   <td><%= item[1]  %></td>
   <td><%= item[2]  %></td>
   <td><%= item[3]  %></td>
   <% end %>
  </table>
</div>
