<!-- View of the QUERY number 9 -->

<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
<%= form_tag tests_test1_path do %>
  <% if current_user %>
    <h3>Hello <%= current_user.name %>, count UK oil fields by operating company:</h3>
    <br>
    <h4>Select your company from the list below</h4>
    <%= collection_select(:company_name, :id, Company.all, :id, :company_name, {:prompt => true}) %>
    <br><br>
    <h4>Type in the name of your operating company</h4>
    <%= text_field_tag :operating_company_name, nil, placeholder: "Insert Operating Company Name" %>
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>
<br>
<h3>Assets where <%= params[:operating_company_name] %> has interests in</h3>
<br>
<div class="span3">
  <table align="" border="1px" class="table table-striped">
   <th>UK offshore field</th>
   <th>Offshore owner</th>
   <% @companies.each_row() do |item| %>
   <tr><td><%= item[0]  %></td>
   <td><%= item[1]  %></td>
   <% end %>
  </table>
</div>
