<div class="container">
<nav>
<ul class="breadcrumb">
  <li><%= link_to "All data tables",  static_pages_data_tables_path %></li>
  <li><%= link_to "Add new location", new_location_path  %></li>
</ul>
</nav>
              
                      

    
<div class="page-header"><h3>Location</h3></div>
<div class="span3"> 
 <table align="" border="1px"  cellspacing="5px" class="table table-striped">
       <th>Country</th>
        <th>Supra region</th>
         <th>Region</th>
         <th>Edit</th>
          <th>Delete</th>

<% @location.each do |location| %>
 
   <tr><td><%= location.country%></td>
       <td><%= location.supra_region%></td>
        <td><%= location.region%></td>
    <td><%= link_to "Edit", edit_location_path(location),
          data: { confirm: " Are you Sure you want to edit?" } %></td>
    <td><%= link_to "Delete", location_path(location), method: :delete,
          data: { confirm: " Are You sure you want to Delete?" } %></td></tr> 
          
 <% end %>
 </table>
 </div>
 </div>

