<header class="navbar navbar-fixed-top navbar-archer">
  <div class="container" id="header">
    <%= link_to root_path do %>
    <%= image_tag("image.png",  alt: "like", class:"img_responsive" , id: "logo") %>
    <% end %>


     <nav>
        <ul class="nav navbar-nav navbar-right h-d">
          
        <% if logged_in? %>
          <%#= form_tag(scraps_path, :method => "get", id: "search-form") do %>
            <%#= text_field_tag :search, params[:search], placeholder: "Search NEWS" %>
            <%#= submit_tag "Search" %>
          <%# end %>
              <% if current_user.admin? %>
                <li><%= link_to "Manage User Accounts", users_index_path, :class => 'navbar-link' %></a></li>
              <% end %>
              <li><%= link_to "User Dashboard", users_dashboard_path, :class => 'navbar-link' %></li>
              <li><%= link_to "View User Profile", current_user, :class => 'navbar-link' %></li>
              <li><%= link_to "Edit #{current_user.name}'s Profile", edit_user_path(current_user) %></li>
              <li><%= link_to "Data Tables", static_pages_data_tables_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Logout", logout_path, method: :delete, :class => "navbar-link" %></li>
              <div class='row'>
              <li><center>Logged in as <%= current_user.name %></center></li>
              </div>
        <% else %>
        
         <div class="pain">
          <li><%= link_to "Home",static_pages_home_path,:class => 'navbar-link' %></a></li>
   
          <li><%= link_to "About us",static_pages_ourvalues_path,:class => 'navbar-link' %> </a>
           <ul>
              <li><%= link_to "AKL",static_pages_AKL_path,:class => 'navbar-link'  %></a></li>
              <li><%= link_to "R.A.K4",static_pages_rak_path,:class => 'navbar-link'  %></a></li>
             
          </ul>
          
          </li>
          
          <li><%= link_to "Service",static_pages_service_path,:class => 'navbar-link' %> </li>
         
          <li><%= link_to "Log In", login_path, :class => 'navbar-link' %></a></li>
          <li><%= link_to "Register", users_new_path, :class => 'navbar-link' %></a></li>
        <% end %>
        </ul>
       </nav>
      </div>
  </div>
</header>